.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .container_title {
        position: relative;
        font-size: 17px;
        font-weight: 600;
        color: #000;
        line-height: 34px;
        border-bottom: 2px solid #e5e5e5;

        &::before {
            position: absolute;
            bottom: -2px;
            content: " ";
            width: 50px;
            height: 2px;
            background: #000;
        }
    }

    .container_content {
        display: flex;
        flex-direction: column;
    }
}