.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;

    .main_content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;

        .main_content_left_date {
            font-size: 13px;
            // white-space: nowrap;
            max-width: 125px;
            width: 100%;
        }

        .main_content_right {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-width: 415px;
            width: 100%;
            
            .main_content_right_jobName {
                font-size: 14px;
                font-weight: bold;
            }

            .main_content_right_jobPosition {
                font-size: 14px;
                font-weight: normal;
                font-style: italic;
            }

            .main_content_right_description {
                font-size: 12px;
            }
        }
    }
}


