.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // box-shadow: 0 0px 50px -12px rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;

    .container_text {
        font-weight: bold;
    }

    .container_text span{
        font-weight: 400;
    }

}