.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 175px;
    padding: 30px;
    height: 100%;
  }
}