.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .container_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .container_title_icon {
            width: 34px;
            height: 34px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #48c4ca;
            border-radius: 50%;
        }

        .container_title_text {
            font-size: 18px;
            color: #48c4ca;
            font-weight: 600;
            line-height: 34px;
        }
    }

    .container_contents {
     
        .container_contents_content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .container_contents_content_title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}