.main {
    padding: 10px;

    .main_content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .main_content_top {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .main_content_top_projectName {
                font-size: 15px;
                font-weight: bold;
            }

            .main_content_top_companyName {
                font-size: 15px;
                font-weight: bold;
                font-style: italic;
            }
        }

        .main_content_description {
            font-size: 15px;
            padding-left: 20px;
        }
    }
}